<%- include('partials/header') %>
<div class="body">
  <div class="second-container">
    <div class="row">
      <div class="col-lg-6 main_head">
        Corporate Reviews Made Simple
        <p class="sub_text">Let's understand our corporates and their cultures<br> <span class="bolded">better</span>. Let’s build an employee community <br><span class="bolded">together</span>. Let’s all come together and decode the <br><span
            class="bolded">Corporate Tamasha!</span></p>
        <a href="/#review"><button class="btn subs3" type="submit"><b>Write a Review</b></button></a>
      </div>
      <div class="col-lg-6">
        <img src="images/CT Mashup2.png" class="mash">
      </div>
    </div>
    <br>
    <div class="blue_box">
      <img src="images/CORPORATE_nobg.png" class="scrl">
    </div>
  </div>

  <div id="about" class="sub_head">
    <div>
      <h1 class="heading">About Us</h1>
      <p class="matter">
        We want to put more information in the hands of every employee of India! We want to address the problem of Information Asymmetry in corporate hiring. If a company can know your previous pay, your past references etc. then an employee must
        also know the company’s pay scale, their culture etc. The employee will then compare and make the best choice.
        <br><br>But do we usually get this information? There are a few platforms in India that promise this, but they did not satisfy us. We wanted more. We envisioned a community of employees that will be made of, for and by the employees. They
        will come together and share their corporates experiences.
        <br><br>Come join us and together let’s build <br><span class="bolded">India’s 1st Decentralized Employer Ranking Platform</span>
      </p>
    </div>
    <div class="blue_box">
      <img src="images/CORPORATE_nobg.png" class="scrl">
    </div>
  </div>

  <div id="review" class="sub_head">
    <div>
      <h1 class="heading">Write a Review</h1>
      <form class="form-1" action="/" method="post">
        <div class="form-grid">
          <div class="col-1">
            <input type="text" name="companyName" placeholder="Name of the Company" required>
            <select name="industry" required>
              <option>Select Industry</option>
              <option>Agriculture and Allied Industries</option>
              <option>Auto Components</option>
              <option>Automobiles</option>
              <option>Aviation</option>
              <option>Banking</option>
              <option>Biotechnology</option>
              <option>Cement</option>
              <option>Chemicals</option>
              <option>Consumer Durables</option>
              <option>Defence Manufacturing</option>
              <option>E-Commerce</option>
              <option>Education and Training</option>
              <option>Electronics System Design &amp; Manufacturing</option>
              <option>Engineering and Capital Goods</option>
              <option>Financial Services</option>
              <option>FMCG</option>
              <option>Gems and Jewellery</option>
              <option>Healthcare</option>
              <option>Infrastructure</option>
              <option>Insurance</option>
              <option>IT &amp; BPM</option>
              <option>Manufacturing</option>
              <option>Media and Entertainment</option>
              <option>Medical Devices</option>
              <option>Metals and Mining</option>
              <option>MSME</option>
              <option>Oil and Gas</option>
              <option>Pharmaceuticals</option>
              <option>Ports</option>
              <option>Power</option>
              <option>Railways</option>
              <option>Real Estate</option>
              <option>Renewable Energy</option>
              <option>Retail</option>
              <option>Roads</option>
              <option>Science and Technology</option>
              <option>Services</option>
              <option>Steel</option>
              <option>Telecommunications</option>
              <option>Textiles</option>
              <option>Tourism and Hospitality</option>
            </select>
            <input type="text" name="designation" placeholder="Designation" required>
            <input type="text" name="education" placeholder="Educational Qualification" required>
            <input type="text" name="yearOfJoining" placeholder="Year of Joining" id="datepicker" required>
            <input type="text" name="experience" placeholder="Experience">
            <input type="text" name="ctc" placeholder="CTC (in lpa)" required>
            <div class="slider">
              <label for="myRange" class="form-label">I work for <span id="demo">5</span> hours/day</label>
              <input type="range" class="form-range" min="0" max="24" name="workingHours" id="myRange">
            </div>
            <select name="perks" placeholder="Perks" id="perks">
              <option>Select Perks</option>
              <option>Employer-sponsored charity</option>
              <option>Supplemental health insurance</option>
              <option>Volunteer time off</option>
              <option>Flexible work hours</option>
              <option>Work from home opportunities</option>
              <option>Employee discounts</option>
              <option>Transportation benefits</option>
              <option>Housing and relocation assistance</option>
              <option>Wellness programs</option>
              <option>Child care benefitss</option>
              <option>Education benefits</option>
              <option>Free food</option>
            </select>
          </div>

          <div class=form-list>
            <textarea name="culture" placeholder="Tell us about your company's culture" rows="3" cols="16" required></textarea>
            <textarea name="friends" placeholder="How is your connection with your co-workers?" rows="3" cols="16" required></textarea>
            <textarea name="value" placeholder="Do you feel valued for your contribution?" rows="3" cols="16" required></textarea>
            <textarea name="staffing" placeholder="Do you feel your team is adequately staffed?" rows="3" cols="16" required></textarea>
            <textarea name="load" placeholder="How is the work distribution in you team?" rows="3" cols="16" required></textarea>
            <textarea name="promotion" placeholder="How are the opportunities for promotion?" rows="3" cols="16" required></textarea>
            <textarea name="happy" placeholder="How happy are you with this company?" rows="3" cols="16"></textarea>
            <textarea name="misc" placeholder="Do you have anything else to share?"rows="3" cols="16"></textarea>
          </div>
        </div>
        <button class="btn subs" type="submit">Submit</button>
      </form>
    </div>
    <div class="blue_box">
      <img src="images/CORPORATE_nobg.png" class="scrl">
    </div>
  </div>


  <div id="contribute" class="sub_head">

    <div>
      <h1 class="heading">Contribute</h1>
      <p class="matter">
        Corporate Tamasha Community has a long way to go. This has been an honest effort from our team to bring you this MVP application <span class="bolded">free of charge.</span> We further want to develop this web application to support community
        features and employ research teams. But for that <span class="bolded">we will need your support.</span>
        <br><br>Our vision to put more information in the hands of every employee of India is surely a bold one, and if you too believe in this vison, then get in touch! You can mail us at: <span class="bolded">corporatetamasha@gmail.com</span>
        But most importantly do spare some change. Every small contribution counts in keeping our efforts alive.
        <br><br>And come join us and together let’s build <span class="bolded">India’s 1st Decentralized Employer Ranking Platform</span>
      </p>
      <div class="pay">
        <a href="https://pmny.in/EIZSHj687Qyb" target="_blank"><button type="button" class="btn subs">Contribute</button></a>
      </div>
      <div class="blue_box_1">
      </div>

    </div>
  </div>

  <script>
  $(document).ready(function(){
    $("#datepicker").datepicker({
       format: "yyyy",
       viewMode: "years",
       minViewMode: "years",
       autoclose:true
    });
  })
  </script>

  <script type="text/javascript">
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      output.innerHTML = this.value;
    }
  </script>

</div>




<%- include('partials/footer') %>
