<%- include('partials/header') %>
<div class="second-container">
  <div class="row">
    <div class="col-4 main_head">
      Corporate Reviews Made Simple
      <p class="sub_text">Let's understand our corporates and their cultures<br> <span class="bolded">better</span>. Let’s build an employee community <br><span class="bolded">together</span>. Let’s all come together and decode the <br><span
          class="bolded">Corporate Tamasha!</span></p>
      <a href="/#review"><button class="btn subs3" type="submit"><b>Write a Review</b></button></a>
    </div>
    <div class="col"></div>
    <div class="col-7">
      <img src="images/CT Mashup2.png" class="mash">
    </div>
  </div>
  <br>
  <div class="blue_box">
    <img src="images/CORPORATE_nobg.png" class="scrl">
  </div>
</div>

<div id="about" class="sub_head">
  <div>
    <h1 class="heading">About Us</h1>
    <p class="matter">
      We want to put more information in the hands of every employee of India! We want to address the problem of Information Asymmetry in corporate hiring. If a company can know your previous pay, your past references etc. then an employee must
      also know the company’s pay scale, their culture etc. The employee will then compare and make the best choice.
      <br><br>But do we usually get this information? There are a few platforms in India that promise this, but they did not satisfy us. We wanted more. We envisioned a community of employees that will be made of, for and by the employees. They
      will come together and share their corporates experiences.
      <br><br>Come join us and together let’s build <span class="bolded">India’s 1st Decentralized Employer Ranking Platform</span>
    </p>
  </div>
  <div class="blue_box">
    <img src="images/CORPORATE_nobg.png" class="scrl">
  </div>
</div>

<div id="review" class="sub_head">
  <div>
    <h1 class="heading">Write a Review</h1>
    <form class="form-1" action="/" method="post">
      <div class="form-grid">
        <div class="col-1">
          <input type="text" name="companyName" placeholder="Name of the Company">
          <input type="text" name="industry" placeholder="Industry">
          <input type="text" name="designation" placeholder="Designation">
          <input type="text" name="education" placeholder="Educational Qualification">
          <input type="text" name="yearOfJoining" placeholder="Year of Joining">
          <input type="text" name="experience" placeholder="Experience">
          <input type="text" name="ctc" placeholder="CTC">
          <input type="text" name="workingHours" placeholder="Working hours per day">
          <input type="text" name="perks" placeholder="Perks">
        </div>

        <div class=form-list>
          <input type="text" name="culture" placeholder="Tell us about your company's culture">
          <input type="text" name="friends" placeholder="How is your connection with your co-workers?">
          <input type="text" name="value" placeholder="Do you feel valued for your contribution?">
          <input type="text" name="staffing" placeholder="Do you feel your team is adequately staffed?">
          <input type="text" name="load" placeholder="How is the work distribution in you team?">
          <input type="text" name="promotion" placeholder="How are the opportunities for promotion?">
          <input type="text" name="happy" placeholder="How happy are you with this company?">
          <input type="text" name="misc" placeholder="Do you have anything else to share?">
        </div>
      </div>
      <button class="btn subs" type="submit">Submit</button>
    </form>
  </div>
  <div class="blue_box">
    <img src="images/CORPORATE_nobg.png" class="scrl">
  </div>
</div>


<div id="contribute" class="sub_head">

  <div>
    <h1 class="heading">Contribute</h1>
    <p class="matter">
      Corporate Tamasha Community has a long way to go. This has been an honest effort from our team to bring you this MVP application <span class="bolded">free of charge.</span> We further want to develop this web application to support community
      features and employ research teams. But for that <span class="bolded">we will need your support.</span>
      <br><br>Our vision to put more information in the hands of every employee of India is surely a bold one, and if you too believe in this vison, then get in touch! You can mail us at: <span class="bolded">corporatetamasha@gmail.com</span>
      But most importantly do spare some change. Every small contribution counts in keeping our efforts alive.
      <br><br>And come join us and together let’s build <span class="bolded">India’s 1st Decentralized Employer Ranking Platform</span>
    </p>
    <div class="pay">
      <a href="https://pmny.in/EIZSHj687Qyb" target="_blank"><button type="button" class="btn subs">Contribute</button></a>
    </div>
    <div class="blue_box_1">
    </div>

  </div>
</div>

<%- include('partials/footer') %>
