<%- include('partials/header') %>

<div class="col d-flex justify-content-center">
  <div class="card" style="margin-top: 1rem; width: 90%;">
    <div class="card-body">
      <h1 class="card-title" style="color: black;">Dear CTC user,</h1>
      <p>Looks like nobody has written a review on this company. Why don't you become the torch-bearer?</p>
      <a href="/#review"><button class="btn subs" type="submit">Write a Review</button></a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
