body{
	background-color:black;
	font-family: "Noto Sans", "Open Sans", sans-serif;
	margin-bottom: 0;
	overflow-x: hidden;
}

.body{
	margin-left: 4vh;
	margin-right: 4vh;
}

/* Navigation Bar Begins */
.sticky-top{
	display: grid;
	grid-template-columns: 1fr 4fr;
	background-color: black;
	height: 17vh;
	padding: 1vh 3vh 0 3vh;
}

.sticky-top img{
	width: 15rem;
}

.nav-list{
	display: flex;
	margin:0;
	padding:0;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
	font-size: 1rem;
}

.nav-list >* {
	flex-grow:0;
	flex-shrink:1;
}

	.nav-mobile-toggle{
		display: none;
	}

@media (max-width: 800px){
	.nav-list{
		display: flex;
		padding:min(15vh, 5rem);
		z-index: 1000;
		justify-content: flex-start;
		position: fixed;
		inset: 0 0 0 30%;
		background: hsl(0 0% 100% /0.2 );
		backdrop-filter: blur(1rem);
		flex-direction: column;
		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	.nav-list[data-visible = "true"]{
		transform: translateX(0%);
	}

	.nav-list[data-visible = "false"]{
		transform: translateX(100%);
	}

	.nav-mobile-toggle{
		display: block;
		position: absolute;
		width:2rem;
		aspect-ratio:1;
		border: 0;
		top: 2rem;
		right: 2rem;
		z-index: 9999;
	}

	.nav-mobile-toggle[aria-expanded = "true"]{
		background: url(/images/cross.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.nav-mobile-toggle[aria-expanded = "false"]{
		background: url(/images/menu.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.form-grid{
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

/* Navigation bar ends */

/* Write a reveiw section begins */
.form-1{
	text-align: center;
}

.form-grid{
	display: flex;
	grid-template-columns: 1fr 3fr;
	gap: 1rem;
}

.col-1 {
	display: flex;
	flex-direction: column;
	width: max-content;
	gap: 0.33rem;
}

.col-1 >*{
	flex:1;
	flex-grow:1;
	flex-shrink:1;
}

.form-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.33rem;
}

.form-list >*{
	flex:1;
	flex-grow:1;
	flex-shrink:1;
	min-height: 3rem;
	min-width: 20.156rem;
}

.form-1 > button{
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
}

.col-1 label{
	color: white;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.col-1 label span{
	display: inline-block;
}
/* Write a reveiw section ends */

.second-container{
	width:100%;
	padding-top:2%;
	padding-bottom:2%;
	padding-right:2%;
	padding-left:3%;
}

.banner{
	padding-left:2%;
	padding-top:2%;
	padding-bottom:2%;
}

.finshots{
	border:0px;
  	color: white;
	text-align: center;
	text-decoration-line: none;
}


.finshots:hover{
	border:0px;
	color: rgb(217,217,217);
	cursor:pointer;
	text-align: center;
	width: fit-content;
}

.mash{
	width:100%;
	height:auto;
}

.main_head{
	color:rgb(217,217,217);
	font-size:4rem;
}

.sub_text{
	padding-top:3%;
	font-size:1rem;
}

.bolded{
	font-weight:bold;
	color:rgb(0,255,255);
}

.box{
	background-color:rgb(217,217,217);
	width:fit-content;
	padding-right:8%;
}


.box2{
	background-color:rgb(217,217,217);
	width:fit-content;
	margin-left:5%;
	margin-top:5px;
	margin-bottom:5px;
}

.box3{
	background-color:rgb(217,217,217);
	width:100%;
	height:90%;
	padding-right:10%;
	margin-left:3%;
	margin-bottom:3px;
	text-align:left;
	vertical-align: text-top;
	word-wrap: break-word;
        word-break: break-all;
}

.subs{
	background-color:rgb(0,191,213);
	width:fit-content;
}

.subs2{
	background-color:rgb(0,191,213);
	width:50%;
}

.subs3{
	background-color:rgb(217,217,217);
	width:fit-content;
	font-size: 1rem;
}

.pay{
	text-align: center;
}

.sub{
	padding:auto;
	margin:auto;
	align-items:center;
}

.heading{
	padding:1%;
	text-align:center;
	font-weight:bold;
	color:rgb(0,255,255);
	font-size: 2.5rem;
}

.matter{
	padding:2%;
	color:rgb(217,217,217);
	text-align:center;
	font-size:1rem;
}

.scrl{
	width:10%;
	padding:1%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text{
	background-color:rgb(217,217,217);
	width:90%;
	padding-right:10%;
	margin-left:3%;
	margin-top:5px;
	margin-bottom:5px;
}


.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
}

.footer >p{
	color: white;
}

.empty{
	height: 10px;
}

h1{
	color: white;
}

.flex-card{
	margin-top: 1rem;
	display:flex;
	flex-wrap: wrap;
	gap:1rem;
	margin-bottom: 1rem;
	justify-content: center;
}

.post-card > h5{
	text-align: center;
	font-size: 4rem;
}

.post-card > h6{
	text-align: left;
	font-size: 1rem;
}

.post-card > h6 >span{
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
}

.post-card .card-q{
	font-weight: bold;
	text-align: left;
}

.post-card .card-text{
	font-weight: normal;
	text-align: left;
}

.blue_box{
	align-items: center;
}
.blue_box_1{
	align-items: center;
	height: 10vh;
}
[id]::before {
  content: '';
  display: block;
  height:      17vh;
  margin-top: -17vh;
  visibility: hidden;
}

@media (max-width: 420px){
body{
	text-align: center;
	align-items: center;
	justify-content: center;
}

.main_head{
	font-size:3rem;
}
.mash{
	margin-top: 1rem;
}

.col-1{
	width: 20.156rem;
 text-align: center;
}

.form-list{
	width: 20.156rem;
 text-align: center;
}

.matter{
	text-align: center;
}
